@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    border: none;
    cursor: pointer;
}
/* inicio del header */
header{
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    z-index: 50;
}
.contenedor-header{
    margin: 0 auto;
    top: 0;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
}
.logo{
    padding: 10px;
    width: 200px;
    margin: 0 0;
    display: flex;
    align-items: center;
}
.logo>img{
    margin: 0;
    width: 160px;
}
.hamburguesa{
    display: none;
}
.menu{
    width: 610px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
nav>a{
    text-transform: uppercase;
    font-size: 16px;
    padding: 0 10px;
    color: #212529;
    transition: 0.3s ease;
}
nav>a:hover{
    color: #EEE8AA;
    font-size: 18px;
}
.redes{
    padding-left: 10px;
    width: 200px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.redes>a{
    color: #4d555a;
    margin: 0 10px;
    font-size: 22px;
}
/* inicio de la primer seccion HERO */
.hero{
    background-color: #EEE8AA;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.infohero{
    width: 85%;
    margin-top: 70px;
    padding: 20px 0 50px;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-around;
}
.presentacion{
    padding: 0 10px;
}
.imagen{
    padding: 0 10px;
}
.foto{
    width: 420px;
    border: 17px solid #ffffff;
    border-radius: 360px;
    box-shadow: 0px 0px 30px #ccc78c;
}
.presentacion>h3{
    margin: 0 0 16px;
    font-size: 21px;
}
.presentacion>h2{
    font-size: 48px;
/*     white-space: nowrap;
    display: block;
    width: 19ch;
    border-right: 4px solid #000000;
    animation: escribiendo 3s steps(19),
                parpadeo 0.4s infinite alternate;
    overflow: hidden; */
}
/* @keyframes escribiendo {
    from{
        width: 0;
    }
}
@keyframes parpadeo {
    70%{
        border-color: transparent;
    }
} */
.presentacion>h1{
    font-size: 100px;
}
.boton-trab{
    font-size: 16px;
    padding: 13px 42px;
    margin: 16px 0 0;
    background-color: #212529;
    color: #ffffff;
    border: 1px solid #212529;
    transition: 0.3s ease;
}
.boton-trab:hover{
    background-color: #EEE8AA;
    color: #212529;
}
.contactame{
    font-size: 16px;
    padding: 13px 42px;
    margin: 16px 0 0;
    background-color: transparent;
    color: #212529;
    border: 1px solid transparent;
    transition: 0.3s ease;
}
.contactame:hover{
    background-color: #212529;
    color: #ffffff;
    border: 1px solid #212529;
}
.contactame>i{
    margin-left: 8px;
}
.contactame>span{
    border-bottom: 1px solid #212529;
}
/* empieza la segunda seccion */
.nombre,.sobremi>p,.sobremi>h2,.descripcion, .experiencia, .dat-cont-info{
    color: #212529;
}
.dat-cont-dat{
    color: #6c757d;
}
.segunda-seccion{
    width: 85%;
    margin: 0 auto;
    padding: 104px 12px;
}
.sobremi{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 380px;
}
.sobremi>p{
    background-color: #EEE8AA;
    font-size: 18px;
    padding: 2px 8px;
    margin-bottom: 10px;
}
.sobremi>h2{
    text-align: center;
    font-size: 40px;
    margin: 0 0 48px;
}
.caja-datos{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
}
.datos{
    flex: 60% 0 0;
    padding-left: 10px;
}
.nombre{
    font-size: 32px;
    margin: 0 0 16px;
}
.nombre>span{
    border-bottom: 3px solid #EEE8AA;
}
.descripcion{
    font-size: 21px;
    margin: 0 0 16px;
}
.experiencia{
    flex: 30% 0 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.experiencia>div{
    margin: 0 auto;
    align-items: center;
    background-color: #EEE8AA;
    width: 120px;
    height: 120px;
    border-radius: 360px;
    display: flex;
    justify-content: center;
}
.a単os-exp{
    font-size: 32px;
    margin: 10px 0;
}
.a単os{
    font-size: 160px;
}
.contenedor-contacto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 24px 0 0;
}
.datos-contacto1{
    width: 45%;
    min-width: 306px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
}
.datos-contacto2{
    width: 45%;
    min-width: 306px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
}
.datos-contacto1>div, .datos-contacto2>div{
    width: 263px;
    margin: 16px 10px 0;
}
.dat-cont-info{
    margin-top: 8px;
    font-size: 18px;
}
.email{
    color: #212529;
}
/* empieza la tercer seccion */
.contenedor-ter-sec{
    background-color: #f8f9fa;
}
.tercera-seccion{
    width: 85%;
    margin: 0 auto;
    padding: 104px 0;
    text-align: center;
}
.habilidades{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}
.habilidades>p{
    margin: 0 auto;
    background-color: #EEE8AA;
    font-size: 18px;
    padding: 2px 8px;
    margin-bottom: 10px;
    width: max-content;
}
.habilidades>h2{
    text-align: center;
    font-size: 40px;
    margin: 0 0 48px;
}
.caja-cuadros{
	margin-bottom: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;}
.cuadros{
    height: 240px;
    width: 320px;
	margin: 60px 0 0;
	padding: 0 24px;
	text-align: center;
}
.cuadros>i{
	color: #EEE8AA;
	font-size: 3.25rem;
}
.cuadros>h3{
	font-size: 24px;
	letter-spacing: 1px;
    margin: 16px 0;
}
.cuadros>p{
	color: rgb(134, 134, 134);
    font-size: 16px;
	line-height: 30px;
}
/* empieza la cuarta seccion */
.cuarta-seccion{
    width: 85%;
    margin: 0 auto;
    padding: 104px 0;
    text-align: center;
}
.curriculum{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}
.curriculum>p{
    margin: 0 auto;
    background-color: #EEE8AA;
    font-size: 18px;
    padding: 2px 8px;
    margin-bottom: 10px;
    width: max-content;
}
.curriculum>h2{
    text-align: center;
    font-size: 40px;
    margin: 0 0 48px;
}
.curriculum-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 12px;
}
.caja-resumen{
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    width: 50%;
    min-width: 390px;
    flex-direction: column;
    margin-bottom: 30px;
}
.resumen-curr{
    width: 92%;
    min-width: 350px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 12px;
    flex-direction: column;
    text-align: start;
    border-left: 2px solid #EEE8AA;
}
.resumen-curr>hr{
    border-color: #ebebeb36;
    width: 100%;
    margin: 24px 0;
}
.caja-resumen>h2{
    font-size: 28px;
    padding: 0 0 8px;
    margin: 0 0 24px;
}
.resumen-curr>h3{
    font-size: 21px;
    margin: 0 0 8px;
}
.resumen-subt{
    margin: 0 0 8px;
}
.resumen-descrip{
    margin: 0 0 16px;
}
.cont-habilidades{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: start;
    flex-direction: row;
}
.titulo-hab{
    text-align: center;
    padding: 0 12px 8px;
    margin: 48px 0 24px;
}
.cajas-hab{
    width: 45%;
    min-width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 12px;
}
.cajas-hab>p{
    margin: 0 0 8px;
}
.progress-bar{
    width: 100%;
    height: 0.5rem;
    background-color: #f1f1f1;
    border-radius: 180px;
    margin: 0 0 24px;
}
.bar-web, .bar-html, .bar-js, .bar-react, .bar-angular, .bar-bootstrap{
    height: 0.5rem;
    background-color: #EEE8AA;
    border-radius: 180px;
}
.bar-web{
    width: 65%;
}
.bar-html{
    width: 95%;
}
.bar-js{
    width: 80%;
}
.bar-react{
    width: 70%;
}
.bar-angular{
    width: 60%;
}
.bar-bootstrap{
    width: 99%;
}
.descargar-cv>button{
    margin: 48px 0 16px;
    padding: 13px 42px;
    color: #212529;
    border: 1px solid #212529;
    background-color: transparent;
    transition: 0.3s ease;
}
.descargar-cv>button:hover{
    background-color: #212529;
    color: #EEE8AA;
    border-color: #EEE8AA;
}
/* Empieza la quinta seccion */
.quinta-seccion{
    width: 85%;
    margin: 0 auto;
    padding: 104px 0;
    text-align: center;
}
.curriculum{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}
.curriculum>p{
    margin: 0 auto;
    background-color: #EEE8AA;
    font-size: 18px;
    padding: 2px 8px;
    margin-bottom: 10px;
    width: max-content;
}
.curriculum>h2{
    text-align: center;
    font-size: 40px;
}
.categorias{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.categorias>li{
    padding: 9.6px 16px;
    margin: 0 0 -1px;
}
.categ-trab{
    color: #6c757d;
    transition: 0.3s ease;
}
.categ-trab:hover{
    color: #212529;
}
.trabajos-realizados{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.caja-imagenes{
    width: 30%;
    height: 380px;
    position: relative;
    margin: 24px 12px 0;
}
.caja-imagenes>img{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;

}
/* Empieza el footer */
.info-contacto>h2,p,h3, .formulario>h2, form>label{
    color: #212529;
}
footer{
    background-color: #EEE8AA;
}
.cont-footer{
    width: 85%;
    margin: 0 auto;
    padding: 104px 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.info-contacto{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 41%;
    min-width: 366px;
    text-align: start;
    padding: 0 12px;
}
.prom-contacto{
    margin: 0 0 48px;
}
.redes-footer{
    display: flex;
    flex-wrap: nowrap;
    margin: 48px 0 0;
}
.redes-footer>li{
    color:#4d555a;
    font-size: 26px;
    margin: 2px 8px;
}
.redes-fot-est{
    color:#4d555a;
}
.redes-footer>li:first-child{
    margin-left: 0;
}
.info-contacto>h2{
    font-size: 40px;
    margin: 0 0 48px;
}
.info-contacto>.prom-contacto,h3{
    font-size: 21px;
}
.localidad, .n-tel{
    font-size: 18px;
    margin: 0 0 8px;
}
.info-contacto>h3{
    margin: 0 0 8px;
}
.n-tel{
    margin: 0 0 16px;
}
.formulario{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    min-width: 442px;
    text-align: start;
    padding: 0 12px;
}
.formulario>h2{
    font-size: 40px;
    margin: 0 0 48px;
}
form>label,button{
    font-size: 16px;
}
.formulario>form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: start;
}
form>button{
    width: max-content;
    padding: 13px 41px;
    margin: 24px 0 0;
    background-color: #212529;
    border: 1px solid #212529;
    color: #ffffff;
    transition: 0.3s ease;
}
form>button:hover{
    background-color: #EEE8AA;
    color: #212529;
}
.enviar-footer{
    font-size: 23px;
    margin-left: 1rem;
}
form>input, textarea{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
    font-size: 1.25rem;
    outline: none;
}
form>label{
    margin: 24px 0 8px;
}
form>input{
    height: 40px;
}
form>textarea{
    padding: 12px 0 0 0;
}
.insta:hover{
    color: #bd3c3c;
}
.linkedin:hover{
    color: #0a66c2;
}
.github:hover{
    color: #000000;
}
@media(max-width:1020px){
    .contenedor-header{
        width: 100%;
        height: 55px;
    }
    .menu{
        padding: 10px 0;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        top: 54px;
        background-color: #ffffff;
        width: 30vw;
        min-width: 200px;
        height: 33vh;
        left: -100%;
        transition: all 0.4s ease-out;
    }
    .menu_visible{
        left: 0;
    }
    .hamburguesa{
        display: block;
        margin-left: 22px;
        cursor: pointer;
    }
    .hamburguesa>i{
        font-size: 24px;
        padding: 0 5px;
        color: #4d555a;
        transition: 0.3s ease;
    }
    .hamburguesa>i:hover{
        color: #EEE8AA;
    }
    .redes{
        width: max-content;
        padding-right: 10px;
    }
    .formulario{
        margin-top: 45px;
    }
}
@media(max-width:600px){
    .logo{
        width: max-content;
    }
    .logo>img{
        display: none;
    }
    .presentacion{
        display: flex;
        flex-direction: column;
    }
    .presentacion>h3{
        margin: 0 0 16px;
        font-size: 16px;
    }
    .presentacion>h2{
        font-size: 36px;
    }
    .presentacion>h1{
        font-size: 64px;
    }
    .foto{
        width: 320px;
        border: 13px solid #ffffff;
        border-radius: 360px;
        box-shadow: 0px 0px 30px #ccc78c;
    }
    .caja-datos{
        justify-content: center;
    }
    .info-contacto>h2{
        font-size: 30px;
    }
    .formulario>h2{
        font-size: 30px;
    }
    .formulario{
        width: 50%;
        min-width: 310px;
    }
    .info-contacto{
        width: 41%;
        min-width: 286px;
    }
    .cajas-hab{
        min-width: 300px;
    }
    .sobremi{
        width: 320px;
    }
    .sobremi>p{
        font-size: 14px;
    }
    .sobremi>h2{
        font-size: 30px;
    }
    .datos{
        flex: 60% 0 0;
        padding-left: 5px;
        min-width: 300px;
    }
    .nombre{
        font-size: 24px;
        margin: 0 0 16px;
    }
    .nombre>span{
        border-bottom: 2px solid #EEE8AA;
    }
    .descripcion{
        font-size: 16px;
        margin: 0 0 16px;
    }
    .experiencia{
        flex: 30% 0 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin: 16px 0;
    }
    .experiencia>div{
        margin: 0 auto;
        align-items: center;
        background-color: #EEE8AA;
        width: 90px;
        height: 90px;
        border-radius: 360px;
        display: flex;
        justify-content: center;
    }
    .a単os-exp{
        font-size: 26px;
        margin: 10px 0 20px;
    }
    .a単os{
        font-size: 130px;
    }
    .dat-cont-info{
        margin-top: 8px;
        font-size: 16px;
    }
    .dat-cont-dat{
        margin-top: 8px;
        font-size: 14px;
    }
    /* tercera seccion */
    .habilidades>p{
        font-size: 14px;
    }
    .habilidades>h2{
        font-size: 30px;
        margin: 0 0 30px;
    }
    .cuadros{
        height: 230px;
        width: 280px;
        margin: 60px 0 0;
    }
    .cuadros>i{
        font-size: 3rem;
    }
    .cuadros>h3{
        font-size: 20px;
    }
    .cuadros>p{
        font-size: 14px;
    }
    /* cuarta seccion */
    .curriculum>p{
        font-size: 14px;
    }
    .curriculum>h2{
        font-size: 30px;
    }
    .caja-resumen{
        padding: 0 10px;
        margin-bottom: 30px;
        min-width: 340px;
    }
    .caja-resumen>h2{
        font-size: 24px;
    }
    .resumen-curr{
        width: 92%;
        min-width: 330px;
        display: flex;
        flex-wrap: wrap;
        padding: 0 10px;
        flex-direction: column;
        text-align: start;
        border-left: 2px solid #EEE8AA;
    }
    .resumen-curr>h3{
        font-size: 18px;
    }
    .resumen-subt{
        font-size: 14px;
    }
    .resumen-descrip{
        font-size: 14px;
    }
    /* quinta seccion */
    .curriculum>p{
        font-size: 14px;
    }
    .curriculum>h2{
        font-size: 30px;
    }
    .categ-trab{
        font-size: 14px;
    }
    /* footer */
    .info-contacto>h2{
        font-size: 30px;
    }
    .info-contacto>.prom-contacto,h3{
        font-size: 18px;
    }
    .localidad, .n-tel{
        font-size: 16px;
    }
    .formulario>h2{
        font-size: 30px;
    }
    form>label,button{
        font-size: 14px;
    }
    form>button{
        padding: 10px 32px;
        margin: 24px 0 0;
    }
    .segunda-seccion, .tercera-seccion, .cuarta-seccion, .quinta-seccion, .cont-footer{
        padding: 62px 10px;
    }
}