*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
/* inicio del header */
header{
    margin: 0 auto;
    position: fixed;
    top: 0;
    background-color: white;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.logo{
    width: 200px;
    margin: 0 0;
    display: flex;
    align-items: center;

}
.logo>img{
    margin: 0;
    width: 160px;
}
nav{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}
nav>a{
    text-transform: uppercase;
    font-size: 16px;
    padding: 0 5px;
    color: black;
}
.redes{
    width: 200px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.redes>a{
    color: #4d555a;
    margin: 0 10px;
    font-size: 22px;
}
/* inicio de la primer seccion HERO */
.hero{
    background-color: #EEE8AA;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.infohero{
    width: 90%;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-between;
}
.foto{
    width: 420px;
    border: 17px solid white;
    border-radius: 360px;
    box-shadow: 0px 0px 30px #ccc78c;
}
.presentacion{


}
.presentacion>h2{
    font-size: 80px;
}
.presentacion>h1{
    font-size: 100px;
}
.presentacion>button{
    font-size: 20px;
    padding: 10px 15px;
}
.flecha{
}
/* empieza la segunda seccion */
.segunda-seccion{
    width: 85%;
    margin: 0 auto;
    padding: 104px 0;
}
.sobremi{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 280px;
}
.sobremi>p{
    background-color: #EEE8AA;
    font-size: 18px;
    padding: 2px 8px;
    margin-bottom: 10px;
}
.sobremi>h2{
    text-align: center;
    font-size: 40px;
}
.caja-datos{
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.datos{
    flex: 60% 0 0;
    padding-left: 10px;
}
.nombre{
    font-size: 32px;
}
.descripcion{
    font-size: 27px;
}
.experiencia{
    background-color: pink;
    flex: 30% 0 0;
    text-align: center;
}
.años-exp{
    font-size: 32px;
}
.años{
    font-size: 160px;
}
.contenedor-contacto{
    display: flex;
    flex-wrap: nowrap;
}
.datos-contacto1{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}
.datos-contacto2{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}
.datos-contacto1>div, .datos-contacto2>div{
    flex: 50% 1 0;
}
/* empieza la tercer seccion */
.contenedor-ter-sec{
    background-color: #f8f9fa;
}
.tercera-seccion{
    width: 85%;
    margin: 0 auto;
    padding: 104px 0;
    text-align: center;
}
.habilidades{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}
.habilidades>p{
    margin: 0 auto;
    background-color: #EEE8AA;
    font-size: 18px;
    padding: 2px 8px;
    margin-bottom: 10px;
    width: max-content;
}
.habilidades>h2{
    text-align: center;
    font-size: 40px;
    margin: 0 0 48px;
}
.caja-cuadros{
	margin-bottom: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;}
.cuadros{
    height: 240px;
    width: 320px;
	margin: 60px 0 0;
	padding: 0 24px;
	text-align: center;
}
.cuadros>i{
	color: #EEE8AA;
	font-size: 3.25rem;
}
.cuadros>h3{
	font-size: 24px;
	letter-spacing: 1px;
    margin: 16px 0;
}
.cuadros>p{
	color: rgb(134, 134, 134);
    font-size: 16px;
	line-height: 30px;
}
/* empieza la cuarta seccion */
.cuarta-seccion{
    width: 85%;
    margin: 0 auto;
    padding: 104px 0;
    text-align: center;
}
.curriculum{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}
.curriculum>p{
    margin: 0 auto;
    background-color: #EEE8AA;
    font-size: 18px;
    padding: 2px 8px;
    margin-bottom: 10px;
    width: max-content;
}
.curriculum>h2{
    text-align: center;
    font-size: 40px;
    margin: 0 0 48px;
}
.curriculum-box{
    display: flex;
    flex-wrap: wrap;
    padding: 0 12px;
}
.caja-resumen{
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    width: 50%;
    flex-direction: column;
}
.resumen-curr{
    width: 92%;
    min-width: 350px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 12px;
    flex-direction: column;
    text-align: start;
    border-left: 2px solid #EEE8AA;
}
.resumen-curr>hr{
    background: grey;
    width: 100%;
    margin: 24px 0;
}
.caja-resumen>h2{
    font-size: 28px;
    padding: 0 0 8px;
    margin: 0 0 24px;
}
.resumen-curr>h3{
    font-size: 21px;
    margin: 0 0 8px;
}
.resumen-subt{
    margin: 0 0 8px;
}
.resumen.descrip{
    margin: 0 0 16px;
}
.cont-habilidades{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: start;
    flex-direction: row;
}
.titulo-hab{
    text-align: start;
    padding: 0 12px 8px;
    margin: 48px 0 24px;
}
.cajas-hab{
    width: 45%;
    min-width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 12px;
}
.cajas-hab>p{
    margin: 0 0 8px;
}
.progress-bar{
    width: 100%;
    height: 0.5rem;
    background-color: #f1f1f1;
    border-radius: 180px;
    margin: 0 0 24px;
}
.bar-web, .bar-html, .bar-js, .bar-react, .bar-angular, .bar-bootstrap{
    height: 0.5rem;
    background-color: #EEE8AA;
    border-radius: 180px;
}
.bar-web{
    width: 65%;
}
.bar-html{
    width: 95%;
}
.bar-js{
    width: 80%;
}
.bar-react{
    width: 70%;
}
.bar-angular{
    width: 60%;
}
.bar-bootstrap{
    width: 99%;
}
.descargar-cv>button{
    margin: 48px 0 16px;
    padding: 13px 42px;
    color: #212529;
    border-color: #212529;
    background-color: transparent;
}
/* Empieza la quinta seccion */
.quinta-seccion{
    width: 85%;
    margin: 0 auto;
    padding: 104px 0;
    text-align: center;
}
.curriculum{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}
.curriculum>p{
    margin: 0 auto;
    background-color: #EEE8AA;
    font-size: 18px;
    padding: 2px 8px;
    margin-bottom: 10px;
    width: max-content;
}
.curriculum>h2{
    text-align: center;
    font-size: 40px;
}
.categorias{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.categorias>li{
    padding: 9.6px 16px;
    margin: 0 0 -1px;
}
/* Empieza el footer */
.info-contacto>h2,p,h3, .formulario>h2, form>label{
    color: #212529;
}
footer{
    background-color: #EEE8AA;
}
.cont-footer{
    width: 85%;
    margin: 0 auto;
    padding: 104px 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.info-contacto{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 41%;
    text-align: start;
    padding: 0 12px;
}
.prom-contacto{
    margin: 0 0 48px;
}
.redes-footer{
    display: flex;
    flex-wrap: nowrap;
    margin: 48px 0 0;
}
.redes-footer>li{
    color:#4d555a;
    font-size: 26px;
    margin: 2px 8px;
}
.redes-fot-est{
    color:#4d555a;
}
.redes-footer>li:first-child{
    margin-left: 0;
}
.info-contacto>h2{
    font-size: 40px;
    margin: 0 0 48px;
}
.info-contacto>.prom-contacto,h3{
    font-size: 21px;
}
.localidad, .n-tel{
    font-size: 18px;
    margin: 0 0 8px;
}
.info-contacto>h3{
    margin: 0 0 8px;
}
.n-tel{
    margin: 0 0 16px;
}
.formulario{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    text-align: start;
    padding: 0 12px;
}
.formulario>h2{
    font-size: 40px;
    margin: 0 0 48px;
}
form>label,button{
    font-size: 16px;
}
.formulario>form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: start;
}
form>button{
    width: max-content;
    padding: 13px 41px;
    margin: 24px 0 0;
    background-color: #212529;
    border-color: #212529;
    color: #ffffff;
}
.enviar-footer{
    font-size: 23px;
    margin-left: 1rem;
}
form>input, textarea{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
    font-size: 1.25rem;
    outline: none;
}
form>label{
    margin: 24px 0 8px;
}
form>input{
    height: 40px;
}
form>textarea{
    padding: 12px 0 0 0;
}

